<template name="mm">

  <br/>
<div class="container-fluid">
<div class="row row-centered">
 <div class="col-xs-12"><h3 style="font-weight:bold; font-size:30px;">HOW YOU CAN HELP</h3></div>
</div>
<div class="row row-centered">
 <div class="col-xs-2"></div>
 <div class="col-lg-4">
   <div class="how_can_you_help_details">
     <h3 class="how_can_you_help_details">COMPANY</h3>
     <p class="how_can_you_help_details">
       Is your company looking to build and grow the next generation of coders and developers? Would you like to make a tangible, immediate impact on refugee economic integration? We provide CSR opportunities and rely on laptop and financial donations.
     </p>
     <button type="button" class="btn btn-primary how_can_you_help_details" onClick="location.href='mailto:anne@redi-school.org?Subject=ReDI help as a business'">HELP AS A BUSINESS</button>
   </div>
 </div>

 <div class="col-lg-4">
   <div class="how_can_you_help_details">
     <h3 class="how_can_you_help_details">INDIVIDUAL</h3>
     <p class="how_can_you_help_details">
       Do you have coding chops you'd like to share? Are you part of the Berlin tech scene and can provide mentorship? Can you help kickstart someone's IT career? We need teachers, tech mentors, career counselors and allrounders.<br/><a href="/files/ReDIvolunteers.pdf" target="_blank">Learn more [pdf]</a>
     </p>
     <div>
       <button type="button" class="btn btn-primary how_can_you_help_details" onClick="location.href='mailto:Nakeema@redi-school.org?Subject=ReDI volunteer sign up'">HELP AS A VOLUNTEER</button>
     </div>
   </div>
 </div>
 <div class="col-xs-2"></div>
</div>
</div>
</template>
