<template name="testimonial">
  <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="Img/anne.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Anna</h2>
          <p>"Our new neighbors are a tremendous resource. Their resilience, street-smarts and ability to network is exactly what is needed to succeed in the new economy."</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="Img/louna.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Lona</h2>
          <p>"I think what ReDI School of Digital Integration is doing is amazing and I feel privileged to be able to take part in this project. I know that through ReDI School we can reach our full potential and it will help us reach our goals."</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="Img/tarig.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Heading</h2>
          <p>"My dream is to become an IT specialist for software development. I believe this project will help me fulfill my dream."</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>
</template>
