<template name='impressum'>
  <div class="jumbotron" style=" margin-top: 100px;">
        <h1>Impressum</h1>
         <p><strong> ReDI School of Digital Integration gGmbH</strong> Lückhoffstrasse 24, 14129 D- Berlin<br>
          <strong>Telefon:</strong> +49 176 98 23 33 42<br>
          <strong>E-Mail:</strong> info@redi-school.org<br>
          <strong>Internet:</strong> www.redi-school.org<br>
          <strong>Vorstand:</strong> Anne Kjaer Riechert<br>
          <strong>Registergericht:</strong> Amtsgericht Berlin Charlottenburg<br>
          <strong>Geschäftssitz:</strong> Berlin<br>
          <strong>USt-IdNr.:</strong> 27/612/05018<br>
          <strong>ReDI School of Digital Integration gGmbH</strong> takes no responsibility for the content on linked pages.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">send Message &raquo;</a>
        </p>

    </div>
</template>
