<head>
  <link rel="icon" href="Img/redi_logo.png">

    <title>Redi-School</title>

</head>
<body>
  {{renderpage}}
</body>
<template name="home">
        {{> carousel}}

    <div class="row row-centered">
			<div class="col-xs-12">
				<div class="title_font"><img style="max-width: 40px;max-height: 40px; vertical-align:bottom;" src="Img/redi_logo.png" /></div>&nbsp;
				<div class="title_font"><p class="redi_title">ReDI</p></div>&nbsp;
				<div class="title_font"><p class="redi_title_description">SCHOOL OF DIGITAL INTEGRATION</p></div>
			</div>
		</div>
    <br><br>
  <div  style="font-weight:bold; text-align:center ;color:black; font-size:25px; margin-bottom:10px;"><strong>Teaching coding skills </strong>to create job opportunities and economic empowerment for refugees,  Help us to spread The world.....</div>
   <br><br>
   <div class="row row-centered ">  <div class="col-md-2"></div>
    <div class="col-md-2 img">
      <a  href="https://www.instagram.com/redischool" target="_blank" ><img border="0" alt="W3Schools" src="Img/instagram.jpg" width="100" height="100"></a>
    </div>
    <div class="col-md-2 img">
      <a  href="https://www.facebook.com/redischool" target="_blank"><img border="0" alt="W3Schools" src="Img/facebook.jpg" width="100" height="100"></a>
    </div>
    <div class="col-md-2 img">
      <a  href="https://twitter.com/ReDISchool" target="_blank"><img border="0" alt="W3Schools" src="Img/twitter.jpg" width="100" height="100"></a>
    </div>
    <div class="col-md-2 img">
      <a  href="mailto:anne@redi-school.org?Subject=ReDI inquiry" target="_blank"><img border="0" alt="W3Schools" src="Img/email2.png" width="100" height="100"></a>
    </div>
    <div class="col-md-2"></div>
  </div>

<br>
<br>

  {{> testimonial}}
<div class="row-centered">
  <div class="col-xs-12 how_it_works_title">
		<p style="font-size: 30pt;">HOW IT WORKS</p>
		<p style="color: gray; font-size: 20pt; max-width: 660px; text-align: center; margin: 0 auto;">ReDI offers an integrated and accelerated approach to provide refugees with real world IT skills</p>
	</div>
</div>



<div class="row row-centered">
    <div class="col-md-2"></div>
  <div style="padding-right:10px;" class="img col-md-2">
    <img  src="Img/team.jpg" alt="Trolltunga Norway" width="300" height="200">
    <p class="title">TEAM</p>
    <p class="desc">Project team and study groups</p>
  </div><div class="col-md-1"></div>
  <div class="img col-md-2">
    <img src="Img/Portfolio.gif" alt="Trolltunga Norway" width="300" height="200">
    <p class="title">PORTFOLIO</p>
    <p class="desc">Sharable examples of your work on GitHub</p>
  </div><div class="col-md-1"></div>
  <div class="img col-md-2">
    <img src="Img/skills.jpg" alt="Trolltunga Norway" width="300" height="200">
    <p class="title">SKILLS</p>
    <p class="desc">Basic and advanced coding classes</p>
  </div>
</div>

<div class="row row-centered">
  <div class="col-md-2"></div>
  <div class="img col-md-2">
    <img src="Img/support.jpg" alt="Trolltunga Norway" width="300" height="200">
    <p class="title">SUPPORT</p>
    <p class="desc">Laptop and co-working space</p>
  </div><div class="col-md-1"></div>
  <div class="img col-md-2">
    <img src="Img/community.jpg" alt="Trolltunga Norway" width="300" height="200">
    <p class="title">COMMUNITY</p>
    <p class="desc">Berlin tech community and mentors</p>
  </div><div class="col-md-1"></div>
  <div class="img col-md-2">
    <img src="Img/insight.jpg" alt="Trolltunga Norway" width="300" height="200">
    <p class="title">INSIGHTS</p>
    <p class="desc">Tech talks from industry leaders and experts</p>
  </div>
</div>

<br>
<br>


  {{> mm}}
<br>
<br>
<div style="background-color: black;" class="container-fluid">
		<div class="row row-centered">
			<div class="col-md-1"></div>

      <div >
          <img class="ourpartner" src="Img/axel_black.png">
          <img class="ourpartner" src="Img/betahaus_black.png">
          <img class="ourpartner"  src="Img/stanford_black.png">
          <img class="ourpartner" src="Img/axel_black.png">
          <img class="ourpartner" src="Img/kloeckner1.png">
    </div>
			<div class="col-md-1"></div>
		</div>
	</div>
</template>
